* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

body {
  background-color: #f4f6f6;
}

header .container {
  margin: 0 auto;
  width: 1920px;
  height: 1314px;
}

.head-box {
  width: 1920px;
  height: 90px;
  background: #0073a1;
}

.header-text_box {
  width: 1920px;
  height: 1314px;
  margin-left: 205px;
  margin-top: 40px;
}

.header-text {
  color: #555;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.line-header {
  width: 1590px;
  height: 1px;
}

/* First Box */
.container-first_box-head {
  width: 1590px;
  height: 67px;
  margin-top: 60px;
  background: #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
}
/* Box */
.container-first_box-text {
  color: #003471;
  font-size: 20px;
  padding: 20px 20px 0 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* Box First container */
.container-main_first_box {
  width: 1590px;
  height: 190px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.style-main-text {
  color: #0073a1;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Text First container */
.text-main_first {
  padding: 28px 137px 0 40px;
}
/* Box (Two) First container */
.text-first_second {
  color: #555;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-first_second_box {
  padding: 28px 137px 0 40px;
}

/* Second Box */
.container-second_box-head {
  width: 1590px;
  height: 67px;
  flex-shrink: 0;
  background: #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
}
/* Box */
.container-second_box-text {
  color: #000;
  font-size: 20px;
  padding: 20px 20px 0 40px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Box Second container */
.container-main_second_box {
  width: 1590px;
  height: 190px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.text-main_second {
  padding: 28px 137px 0 40px;
}
/* Box (Two) Second container */
.text-second_second_box {
  padding: 28px 137px 0 40px;
}

.text-second_second {
  color: #555;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Third Box */
.container-third_box-head {
  width: 1590px;
  height: 67px;
  flex-shrink: 0;
  background: #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
}
/* Box */
.container-third_box-text {
  color: #000;
  font-size: 20px;
  padding: 20px 20px 0 40px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Box Third container */
.container-main_third_box {
  width: 1590px;
  height: 190px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
/* Text Third container */
.text-main_third {
  padding: 28px 137px 0 40px;
}
/* Box (Two) Third container */
.text-second_third_box {
  padding: 28px 137px 0 40px;
}

.text-second_third {
  color: #555;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Button */
.mark {
  width: 230px;
  height: 60px;
  border-radius: 40px;
  border: none;
  padding: 19px 19px;
  background: #0073a1;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.position_button {
  margin-top: 60px;
}
